.weatherWidgetContents {
	margin: 0 44px;
}

.weatherWidgetContents h3.locationValue {
	text-align: left;
}

.weatherWidgetContents .weatherWidgetList {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
}

.weatherWidgetContents .weatherWidgetList .measurement,
.weatherWidgetContents .weatherWidgetList .value {
	flex: 1 1 50%;
	text-align: left;
	min-width: 80px;
}

.weatherWidgetContents .weatherWidgetList .measurement {
	font-weight: bold;
}

.weatherWidgetContents .weaterWidgetList .measurement::after {
	content:":";
}
